body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.8;
  background: whitesmoke;
}

.container {
  max-width: 500px;
  position: relative;
  left: 50px;
  right: 50px;
}

